@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #11225c;
    background: linear-gradient(to bottom, rgb(24, 160, 194), rgb(143, 0, 183));
    color: white;
}

* {
    box-sizing: border-box;
}

header {
    padding: 16px 100px;
    font-size: 40px;
    text-align: center;
}

.container-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    padding: 0px 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 0;
}

p {
    font-size: 20px;
    margin-top: 0;
}

h2 {
    font-weight: 400;
    margin: 0;
}

#displayWins {
    margin-bottom: 20px;
}

#displayAttempts {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
}

section {
    flex: 1;
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 32px 32px;
    margin-left: -1px;
}

.col-1400 section:first-of-type {
    margin-left: 0px;
}

input {
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.378);
    width: 160px;
    color: white;
    background-color: transparent;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    opacity: 0.8;
}

input:hover {
    border: 1px slid rgba(255, 255, 255, 0.5);
}

::placeholder {
    color: white;
}

button {
    background-color: #C2185B;
    background: linear-gradient(to right, rgb(24, 149, 194), rgb(0, 183, 134));
    color: white;
    border: unset;
    padding: 12px;
    border-radius: 4px;
    min-width: 160px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 5px 10px 3px rgb(0 0 0 / 50%);
    transition: 0.5s ease;
}

#resetButton, #rewardButton {
    width: 250px;
    height: 75px;
    font-size: 40px;
}

#rewardButton {
    height: 120px;
}

#rewardImg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-in-out;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#rewardImg.show {
    transform: translate(-50%, -50%) scale(1);
    filter: drop-shadow(0 0 20px rgba(255, 0, 0, 0.7));
}

@media (max-width: 850px) {
    header {
        padding: 20px 30px;
    }
    .col-850 {
        flex-direction: column;
    }
}